<div class="container-fluid d-flex">
    <div class="container justyfy-content-center bg-light ">
        <div class="row ">
            <div class="col-8 mx-auto">
                <div class="card-body ">
                    <h2 class="text-center">Registration Form</h2>
                    <form [formGroup]="registrationForm" (ngSubmit)="getdata()">
                        <div class="form-group">
                            <div class="form-label">User Name:</div>
                            <input type="text" class="form-control" formControlName="userName" name="userName">
                            <small class="text-danger" *ngIf="registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched">Fill all mandator fields...You can't use special charectors here...</small>
                        </div>
                        <div class="form-group">
                            <div class="form-label">Email Id:</div>
                            <input type="text" class="form-control" formControlName="emailId" name="emailId" email>
                            <small class="text-danger" *ngIf="registrationForm.get('emailId')?.invalid && registrationForm.get('emailId')?.touched" >fill data mandatory correcdtly... </small>
                        </div>
                        <div class="form-group">
                            <div class="form-label">Password</div>
                            <input type="password" class="form-control" formControlName="password" name="password">
                            <small class="text-danger" *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">password should have A-Z,a-z,0-9 and @ #</small>
                        </div>
                        <div class="form-group mt-3">
                            <button class="btn btn-success" [disabled]="registrationForm.invalid">Submit</button>
                            <button class="btn btn-warning">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>