<div class="col-md-12 bg-info d-flex shadow bg-body rounded my-auto">

    <div class="d-flex col-12 icon-buttons justify-content-center">


      <div class="d-grid gap-4 m-4 btns col-10 ">
        
        <!-- Students -->
        <button class="btn btn-secondary" type="button" [routerLink]="'/studHome/'">My Attendance</button>
        <button class="btn btn-secondary" type="button"[routerLink]="'studPerformance'">My Performance</button>
        <button class="btn btn-secondary" type="button"[routerLink]="'online'">Online Exam</button>
        <button class="btn btn-secondary" type="button"[routerLink]="'application'">Leaves and Application</button>

        
        <ng-template #studentSide>
          
          <!-- Teacher -->
          <button class="btn btn-secondary" type="button">Edit Syllabus</button>
          <button class="btn btn-secondary" type="button">Notification For Students</button>
          <button class="btn btn-secondary" type="button">Academic Syllabus</button>
          <!-- Staff -->
          <button class="btn btn-secondary" type="button">Staff Task</button>
          <button class="btn btn-secondary" type="button">Notes Upload</button>
          <button class="btn btn-secondary" type="button">Lecture Upload</button>
          <button class="btn btn-secondary" type="button">Result Upload</button>
          <button class="btn btn-secondary" type="button">Fess Collection</button>
          <!-- Admin -->
          <button class="btn btn-secondary" type="button">Expences/Income</button>
        

        </ng-template>
      </div>

    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->